.user-card{
    background-color: white;
    color: #10A37F;
    cursor: pointer;
    border-radius: 1px;
    border: solid black 2px;
    box-shadow: 5px 5px 5px cadetblue;
    margin: 5px;
    max-width: 250px;
}

.manage-container{
    margin-top: 10px;
    display: flex;
    justify-content: left;
    padding: 16px;
    width: 100%;
}

.users-container {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.products-container {
    display: flex;
    flex-direction: row;
    width: 50%;
}

